VITE_SUPABASE_URL=https://bdkazlhvnowjehdgxege.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_zdeyRn9uv4RdcaTKokRxcg_x8C0vi_N
VITE_APP_URL=http://localhost:5173
# Endereco interno oficial do Cofre Local MRL Travel.
VITE_LOCAL_VAULT_URL=http://192.168.0.25:7443
